<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="2.7.1" targetFramework="net471" />
  <package id="Flurl.Http" version="2.3.1" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="1.2.1" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="1.2.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
</packages>